    <!--Pie de pagina-->
    <footer class="p-12 bg-amber-950 text-white text-center relative">
        <div class=" w-100% max-w-300rem ">
            <div class="max-w-6xl m-0 mb-3">
                <!--Divisor con texto-->
                <div class="mb-20 max-w-3xl">
                    <h4 class=" text-3xl uppercase font-semibold">Nuestro Compromiso</h4>
                    <p class=" line-height: 2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Praesentium odio labore dolorum veritatis, culpa cumque eum 
                        reprehenderit iure.</p>
                </div>
                <div class=" flex justify-between h-5">
                    <!--Divisor social media-->
                    <div class="w-100% max-w-md">
                        <h4 class=" text-3xl uppercase font-semibold">Encontranos</h4>
                        <ul class=" list-none m-0 flex justify-center text-4xl text-yellow-200 p-8 hover:to-white focus:to-white">
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-tripadvisor"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--Divisor contacto-->
                    <div>
                        <h4 class=" text-3xl uppercase font-semibold">Contacto</h4>
                        <form action="" class="w-100% relative flex justify-center mt-16">
                            <input type="text" class="w-100% max-w-sm p-2 rounded-md" placeholder="Escribe tu email">
                            <button class="bg-transparent border-none text-gray-800 cursor-pointer text-2xl p-2 absolute top-30% ml-80" type="submit">
                                <i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>