---
import Layout from "../Layout/Layout.astro";
---
<Layout>
        <section class="w-100% h-screen bg-[url(/img/hero.jpg)] bg-cover flex items-center">
            <div class="w-1 h-full bg-amber-400 ml-10"></div>
            <div class="ml-8">
                <h2 class="text-5xl text-amber-500 font-semibold">ACCION</h2>
                <h1 class="text-gray-200 text-6xl font-black border-spacing-2">SOLIDARIA</h1>
                <h2 class="text-5xl text-amber-400 font-semibold ml-20">ADVENTISTA</h2>
            </div>
        </section>
        <!--Script para menu en moviles-->
        <!-- <script>
            return document.querySelector(element);
            let menuToggle = document.querySelector('.menu-toggle');
            let body = document.querySelector('body');
            menuToggle.addEventListener('click', function(){
                body.classList.toggle('open');
            })
        </script> -->
</Layout>
