---
import Layout from "../Layout/Layout.astro";
---
<Layout>
  <section class="w-100% h-screen bg-[url(/img/hero.jpg)] bg-cover flex items-center">
    <!-- linea -->
    <div class="w-1 h-full bg-amber-400 ml-10"></div>
    <!-- Register -->
  <div class="bg-amber-400 ml-20 rounded-2xl bg-opacity-80 w-1/4 h-100%">
    <h1 class="flex justify-center text-xl mt-4 relative">Registro</h1>
    <div class="p-4">
      <form class="grid gap-4">
        <!-- Nombre de usuario -->
        <input type="text" placeholder="Nombre" class="rounded-2xl p-2">
        <input type="text" placeholder="Apellido" class="rounded-2xl p-2">
        <input type="text" placeholder="Mail" class="rounded-2xl p-2">
        <input type="text" placeholder="Repetir Mail" class="rounded-2xl p-2">
        <!-- contraseña -->
        <input type="password" placeholder="Contraseña" class="rounded-2xl p-2">
        <input type="password" placeholder="Repetir Contraseña" class="rounded-2xl p-2"> 
        <a href="/index" class="flex justify-center rounded-2xl p-2 bg-amber-950 text-amber-400 hover:bg-amber-900" type="submit">Registrarse</a>
      </form>
  </div>
  </section>
</Layout>

