---
import Layout from "../Layout/Layout.astro";
---
<Layout>
  <section class="w-100% h-screen bg-[url(/img/galletitas1.jpg)] bg-cover flex items-center">
    <!-- linea -->
    <div class="w-1 h-full bg-amber-400 ml-10"></div>
    <!-- login -->
  <div class="bg-amber-400 ml-20 rounded-2xl bg-opacity-80 w-1/4 h-100%">
    <h1 class="flex justify-center text-xl mt-4 relative">Menus</h1>
    <div class="grid gap-3 p-4">
      <button class="rounded-2xl p-2 flex justify-center bg-amber-950 text-amber-400 hover:bg-amber-900">Campañas</button>
      <a href="/panelAdmin" class="rounded-2xl p-2 flex justify-center bg-amber-950 text-amber-400 hover:bg-amber-900"><button>Usuarios</button></a>
      <button class="rounded-2xl p-2 flex justify-center bg-amber-950 text-amber-400 hover:bg-amber-900">Turnos</button>
    </div>
  </div>
</section>
</Layout>