---
import Layout from "../Layout/Layout.astro";
---
<Layout>
    <section class="w-100% h-screen bg-[url(/img/fondo2.jpg)] bg-cover flex">
        <div class="bg-opacity-70 bg-amber-950 rounded-2xl w-screen h-100% m-6">
            <h1 class="text-amber-400 text-2xl  justify-center flex mt-6">Historia de ASA</h1>
            <p class="text-center text-white">asdgdfgdfgdf
                dfgdfgdfgdfg
                dfh
                dfh <br>
                df
                dehdrth
                herherherh <br>
                erherherh
                erherherh
            </p>
        </div>
    </section>
</Layout>
