---
import Layout from "../Layout/Layout.astro";
---
<Layout>
    <section class="w-100% h-screen bg-[url(/img/hero.jpg)] bg-cover flex">
        <!-- COMPONENTE REACT DE LA TABLA -->
    </section>
</Layout>