---
import Layout from "../Layout/Layout.astro";
import app from "../components/tablaAdmin";                                                   
---
<Layout>
    <section class="w-100% h-screen bg-[url(/img/hero.jpg)] bg-cover flex">
        <!-- COMPONENTE REACT DE LA TABLA -->
       <app></app>
    </section>
</Layout>