<!--Pie de pagina-->
<div class="w-full h-px bg-amber-400"></div>
<footer class="h-full bg-amber-950 text-white grid grid-cols-3">
                <!--Divisor con texto-->
                <div class="p-4">
                    <img src="/img/logo1.png" class="w-1/6">
                    <h4 class=" text-1xl uppercase font-semibold text-amber-400">Copyright Ⓒ 2020 Asociacion Solidaria Adventista.
                        <br>Todos los derechos reservados.</h4>
                </div>
                <!--Divisor social media-->
                <div class="grid grid-cols-2 p-14">
                    <div class="">
                        <h4 class="text-2xl uppercase font-semibold text-amber-400">Contacto</h4>
                        <form class="w-100% relative flex pt-4">
                            <input type="text" class="p-1 rounded-md" placeholder="Escribe tu email">
                            <button class=" text-white rounded-md p-1 ml-3 hover:text-amber-400">Enviar</button>
                            </input>
                        </form>
                    </div>
                </div>
                <!--Divisor contacto-->
                <div class="">
                        <ul class=" flex gap-10 w-full h-full items-center justify-center">
                            <li>
                                <a href="https://www.facebook.com/accionsolidariaadventista"><img src="/img/facebook.svg"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/asauap/"><img src="/img/instagram.svg"></a>
                            </li>
                        </ul>
                </div>
</footer>