---
import Layout from "../Layout/Layout.astro";
---
<Layout>
    <body>
        <section class="w-100% h-screen bg-[url(/img/hero.jpg)] bg-cover flex items-center text-center">
            <div class="">
                <h2 class="text-5xl text-yellow-300 font-semibold leading-3">ACCION</h2>
                <h1 class="text-white text-6xl uppercase font-black border-spacing-2">SOLIDARIA</h1>
                <h2 class="text-5xl text-yellow-300 font-semibold leading-3">ADVENTISTA</h2>
            </div>
        </section>
        <!--Script para menu en moviles-->
        <script>
            const selectElement = function(element) {
                return document.querySelector(element);
            }
            let menuToggle = selectElement('.menu-toggle');
            let body = selectElement('body');
            menuToggle.addEventListener('click', function(){
                body.classList.toggle('open');
            })
        </script>
    </body>
</Layout>
